.pagination,
.pagination li button {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.page-btn:hover {
	box-shadow: 2px 2px 6px 2px rgba(119, 119, 119, 0.6);
}

.page-btn:focus,
.page-btn:hover {
	outline: none;
	background-color: #23415a;
	color: #ffffff;
}

.pagination li {
	list-style: none;
}

.pagination button {
	font-weight: 300;
	padding-top: 1px;
	text-decoration: none;
	border: 1px solid rgba(255, 255, 255, .20);
	min-width: 44px;
	min-height: 44px;
	color: #777777;
	background-color: #ffffff;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .35);
}

.pagination li:not([class*="current"]) a:hover {
	background-color: rgba(255, 255, 255, .2);
	border-top-color: rgba(0, 0, 0, .35);
	border-bottom-color: rgba(0, 0, 0, .5);
}

.pagination li:not([class*="current"]) a:focus,
.pagination li:not([class*="current"]) a:active {
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .25);
	border-left-width: 1px;
}

.pagination li:first-of-type button {
	border-left-width: 1px;
}

.pagination li.current button {
	padding-top: .25em;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(255, 255, 255, .15);
	box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, .25);
	cursor: default;
	pointer-events: none;
}
