body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	background-color: #ededed;
}

h1,
h2,
h3,
h4 {
	color: #23415a;
	font-weight: 500;
}

.main_title,
.main_desc {
	margin-left: 1rem;
	line-height: 2rem;
	letter-spacing: 1.5px;
}
